div{
    height: 50px;
    width: 100px;
    background-color: yellow;
    border-width: 2px;
    border-color: red;
    border-style: solid;
    padding: 15px;
    margin: 10px;
}
h1{
    color: rgb(255, 0, 0);
    background-color: aqua;
    width: 300px;
    /* border-width: 10px;
    border-color: red;
    border-style: solid; */

    border: 2px dotted green;

    padding: 15px;
    margin: 10px;

}