div{
    height: 100px;
    width: 100px;
    background-image: url(waterfall-chae-son-national-park-lampang-thailand_554837-639.png);
    background-size: cover;
    position: fixed;
    right: 0px;
}